*{
	outline: 0;
}
.wrapper{
	margin: 0 auto;
	width: 800px;
	background-color: rgb(212, 210, 178);
	padding: 10px;
}
.header{
	width: 720px;
	height: 80px;
	margin: 0 auto;
	background-color: rgb(212, 210, 178);
	margin-bottom: 5px;

}
	.header .gitpic{
		height: 70px;
		width: 130px;
		display: inline-block;
		margin-left: 100px;
	}
	.header .catnin{
		height: 70px;
		width: 130px;
		display: inline-block;
		margin-left: 0px;
		background-color: white;
	}
	.header h1{
		display: inline-block;
		margin-left: 0px;
	}
.main_content{
	width: 800px;
	min-height: 620px;
	background-color: rgb(212, 210, 178);
	margin: 0 auto;
}
	.main_content .row{
		width: 800px;
		min-height: 140px;
		background-color: rgb(212, 210, 178);
		padding-top: 10px;
		margin-top: 0px;
	}
	.main_content .row .pink_box{ 
		width: 119px;
		min-height: 119px;
		background-color: tomato;
		border: 12px solid tomato;
		outline: 3px solid black;
		margin-left: 11px;
	}
	.main_content .row .blue_box{ 
		width: 119px;
		min-height: 119px;
		background-color: white;
		border: 12px solid lightblue;
		outline: 3px solid black;
		margin-left: 11px;
	}
